/*color scheme: "bege" - #CABBB7 and "pink" - #C65252*/
body {	/*setup fonts in the whole page*/
	font-family: 'Chivo', sans-serif;
}
#header {
	background-color: #CABBB7;
	margin: 0;
	height: 100px;
	min-width: 700px;
}
#banner {
	float: right;
	height: 100px;
	margin: 0;
	margin-right: 20px;
	align-items: center; 
}
#banner h2 {
	padding: 15px 0;
}
#logoBox {
	float: right;
	height: 100px;
	margin: 0;
}
#logoBox img {
	height: 80px;
	margin: 10px;

}
.nav {	/*navigation bar*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #C65252;
	min-width: 700px;
}
.nav li {
	float: right;
	margin: 0;
	height: 50px;
}
li a {
	display: inline-block;
	color: white;
	height: 50px;
	text-align: center;
	margin: 0;
	padding: 12px 20px;
	font-size: 14pt;
	text-decoration: none;
}
li a:hover {
	background-color: #8C1215;
}	/*end of the navigation bar*/
.contentBox {	/*main framework with content*/
	margin: 0;
	text-align: center;
}
.contentBox h1 {
	margin: 20px;
}
#footer {	/*just a footer*/
	background-color: #CABBB7;
	margin: 0;
	padding: 10px;
	height: 80px;
	text-align: center;
	min-width: 700px;
}
#footer img {
	height: 40px;
	margin: 10px;
}
#footer h4 {
	margin: 0;
}	/*end of footer*/
.polaroidBig{	/*frame with picture and description, uses whole width of the content section*/
	margin: 20px 40px;
	text-align: center;
	font-size: 17pt;
	font-weight: bold;
}
.window {	/*frame for image*/
	display: block;
	height: 200px;
	margin: auto;
	overflow: hidden;	
}
.window img {
	margin-bottom: 0;
	width: 100%;
}
.polContainer {	/*frame for two small polaroid-looking structure*/
	margin: 20px 40px;
	column-count: 2;
}
.polaroidSmall{
	float: left;
	margin: 0;
	text-align: center;
	font-size: 17pt;
	font-weight: bold;
}
.contentBox form {
	text-align: center;
	margin: 20px 0;
}
.content {
	margin: 10px 0;
	display: block;
}
#subject {
	margin: 10px 0;
	height: 200px;
	width: 300px;
}
.contentBox input {
	margin: auto;
	display: block;
}
